.formEditUser {
    box-shadow: 0 0 10px -5px rgb(0 0 0 / 30%);
    border-radius: 10px;
    overflow: hidden;
}

.formEditUser .bg-primary {
    background-color: #FD2D01;
    height: 150px;
    width: 100%;
}

.formEditUser .img {
    display: block;
    margin: -125px auto 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.formEditUser .img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formEditUser .img input {
    display: none;
}

.formEditUser .img .indication {
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    transition: .4s ease;
}

.formEditUser .img:hover .indication {
    bottom: 0;
}

.formEditUser .inputs {
    padding: 20px;
}

.formEditUser .inputs .group {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.formEditUser .inputs .group:not(:last-child) {
    margin-right: 10px;
}

.formEditUser .inputs .row:not(:last-child) {
    margin-bottom: 20px;
}

.formEditUser .inputs .group label {
    font-size: 13px;
}

.formEditUser .inputs .group input {
    font-size: 13.3333px;
    border: none;
    outline: none;
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: 10px 30px 10px 10px;
}

.formEditUser .inputs .group i {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.formEditUser .inputs .group i.fa-check-circle {
    color: green;
}

.formEditUser .inputs .group i.fa-times-circle {
    color: red;
}

.formEditUser .inputs button {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #FD2D01;
    color: #fff;
    padding: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease;
}

.formEditUser .inputs button:disabled {
    opacity: .4;
    cursor: default;
}

.formEditUser .inputs button:not(:disabled):hover {
    background-color: #e42801;
}