footer#main-footer {
    margin-top: 50px;
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, .08);
}

footer#main-footer .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer#main-footer .section-container img {
    width: 200px;
}

footer#main-footer .section-container p {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
}

footer#main-footer .section-container p a {
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
    transition: .3s ease;
}

footer#main-footer .section-container p a:hover {
    color: rgba(253, 45, 1, 1);
}