nav.main-header {
    background-color: #fff;
    border-bottom: 1px solid rgb(0 0 0 / 8%);
    margin-bottom: 30px;
}

nav.main-header .section-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.main-header .section-container>a {
    display: flex;
}

nav.main-header .section-container>a>img {
    width: 200px;
}