nav.main-header {
    background-color: #fff;
    border-bottom: 1px solid rgb(0 0 0 / 8%);
    margin-bottom: 30px;
}

nav.main-header .section-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.main-header .section-container>a {
    display: flex;
}

nav.main-header .section-container>a>img {
    width: 200px;
}

nav.main-header .section-container .menu {
    display: flex;
    align-items: center;
}

nav.main-header .section-container .menu .toggleMenuResponsive {
    margin-left: 15px;
    display: none;
}

@media (max-width: 768px) {
    nav.main-header .section-container .menu .toggleMenuResponsive {
        display: block;
    }
    nav.main-header .section-container .menu a {
        display: none;
    }
}